
.h-title{
    text-align: center;
}
.box-container{
    display:flex;
    .row{
        margin:0;
        .content{
            margin-left: 2%;
            margin-right: 2%;
            .img-tour{
                margin-left: 10%;
                width:70%;
                height:auto;
            }
            #content-container{
                h1{
                    text-align: start;
                }
            }
        }
    }
    

}



