
h1{
    margin: 2% 0;
    text-align: center;
}
.safari{
    display:flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   .col-sm-4{
     width: 100%;
   
    .rwanda-safari{
        position: relative;
        margin:5% 2% 15% 2%;
        transition: transform 0.3s;

        .image{
            width:100%;
            height:230px;
            border-radius: 20px;


        }
        .title{
            color:#000000;
            height:15%;
            padding:10px;
            width:90%;
            margin-left: 5%;
            position:absolute;
            bottom:0%;
            margin-bottom: 0px;
            background-color: rgb(255, 255, 255);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    .rwanda-safari:hover{
        transform: scale(1.1);
        
    }
}

}