.user-container {
  margin-top: 5%;
}
.user-container .row {
  margin: 0;
  display: flex;
  position: relative;
}
.user-container .row .col-sm-8 {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(161, 161, 161);
  padding: 5%;
  margin-bottom: 5%;
  background-color: rgb(135, 189, 138);
  border-radius: 20px;
}
.user-container .row .col-sm-8 .ava-header {
  display: flex;
}
.user-container .row .col-sm-8 .ava-header .image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}
.user-container .row .col-sm-8 .ava-header .image .selected-avatar {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 1;
}
.user-container .row .col-sm-8 .ava-header .image .avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-container .row .col-sm-8 .ava-header .image .icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
}
.user-container .row .col-sm-8 .ava-header .name {
  margin-left: 3%;
  width: 80%;
  position: relative;
}
.user-container .row .col-sm-8 .ava-header .name h2 {
  position: absolute;
  bottom: 25%;
}
.user-container .row .col-sm-8 .ava-header .name h2 input {
  border: 1px solid rgb(228, 226, 226);
  padding: 1%;
  border-radius: 15px;
}
.user-container .row .col-sm-8 .email {
  margin: 5% 0;
  display: flex;
}
.user-container .row .col-sm-8 .email h5 {
  padding: 2% 2% 1% 2%;
}
.user-container .row .col-sm-8 .email input {
  border: 1px solid rgb(228, 226, 226);
  padding: 1%;
  border-radius: 15px;
}
.user-container .row .col-sm-8 .phone-number {
  margin: 5% 0;
  display: flex;
}
.user-container .row .col-sm-8 .phone-number h5 {
  padding: 2% 2% 1% 2%;
}
.user-container .row .col-sm-8 .phone-number input {
  border: 1px solid rgb(228, 226, 226);
  padding: 1%;
  border-radius: 15px;
}
.user-container .row .col-sm-8 .age {
  margin: 5% 0;
  display: flex;
}
.user-container .row .col-sm-8 .age h5 {
  padding: 2% 2% 1% 2%;
}
.user-container .row .col-sm-8 .age input {
  border: 1px solid rgb(228, 226, 226);
  padding: 1%;
  border-radius: 15px;
}
.user-container .row .col-sm-8 .gender {
  margin: 5% 0;
  display: flex;
}
.user-container .row .col-sm-8 .gender h5 {
  padding: 2% 2% 1% 2%;
}
.user-container .row .col-sm-8 .btn {
  color: black;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 15px;
  transition: transform 0.3s;
  background-color: white;
}
.user-container .row .col-sm-8 .btn:hover {
  transform: scale(1.1);
  background-color: #45a049;
}
.user-container .row .col-sm-2 {
  flex: 0 0 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.411);
}
.user-container .row .col-sm-2 .successful {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-color: rgb(76, 209, 105);
  border: 1px solid rgb(115, 252, 4);
  border-radius: 20px;
}
.user-container .row .col-sm-2 .successful .Update {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  width: 100%;
}
.user-container .row .col-sm-2 .successful button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(228, 228, 228);
  background-color: white;
  border-radius: 10px;
  width: 50px;
}
.user-container .row .col-sm-3 {
  flex: 0 0 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.411);
}
.user-container .row .col-sm-3 .successful {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 25%;
  background-color: rgb(209, 76, 76);
  border: 1px solid rgb(252, 4, 4);
  border-radius: 20px;
}
.user-container .row .col-sm-3 .successful .Update {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 150%;
  width: 100%;
}
.user-container .row .col-sm-3 .successful button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(228, 228, 228);
  background-color: white;
  border-radius: 10px;
  width: 50px;
}

.css-13cymwt-control {
  width: 300px;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 15px !important;
  padding: 2%;
  margin-top: 2%;
}/*# sourceMappingURL=userView.css.map */