.btn{
    margin: 1%;
    border: none;
    color: white;
}
.btn:hover{
    color: black;

}

.gap-2{
        img{
            width:30px;
            height:30px;
            border-radius: 50%;
            object-fit: cover;

        }
    }

.second-nav-dropdown.nav-item.show.dropdown{
        position: inherit !important;
        .dropdown-menu.show{
           left:90%;
        }
    }



    

