    
.d1{
    background-image:linear-gradient(to bottom right, #9099b8, #000000 );
    height: 50rem;
    overflow:hidden;
    position: relative;

    .container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 40rem;
    z-index: 1;
    }
    .container::before{
        position:absolute;
        bottom: 50%;
        left: 80%;
        width: 600px;
        height: 600px;
        content: '';
        background-image:linear-gradient(to bottom right, #9099b8, #3c67b6 );
        border-radius: 50%;
        z-index: -1;
        animation: backgroundanimation 7s ease-in-out 2s infinite alternate;
    }
    .container::after{
        position:absolute;
        top: 50%;
        right: 80%;
        width: 400px;
        height: 400px;
        content: '';
        background-image:linear-gradient(to bottom right, #9099b8, #3c67b6 );
        border-radius: 50%;
        z-index: -11;
        filter:blur(3px);
        animation: backgroundanimation 5s ease-in-out infinite alternate; 
    }
    @keyframes backgroundanimation{
        from{
            transform: translate(0,0);

        }
        to{
            transform: translate(0,100px);

        }
    }
    .form{
        z-index: 1;
        background-color: rgba(253, 253, 253,0.3 );
        width:100%;
        height:100%;
        border-radius: 25px;
        overflow:hidden;
        .content{
            width: 95%;
            padding: 10%;
            height: 60%;
            position:absolute;
            h1{
                color:#fff;
                margin-bottom: 50px;
            }
            button{
                width: 80%;
                border: none;
                margin-top: 20px;
                padding: 15px 0;
                position:absolute;
                color:#fff;
                background-image:linear-gradient(to bottom right, #9099b8, #3c67b6 )
            }
            .group{
                height: 60px;
                position:relative;
                margin-bottom: 30px;
                label{
                    position:absolute;
                    top: 25px;
                    left: 10%;
                    transition: 0.5s;
                }
                .inputText{
                    margin-top: 10px;
                    width: 100%;
                    padding: 0 10%;
                    height: 50px ;
                    border: none;
                    outline: none;
                    background-color: rgba(253, 253, 253,0.6 );
                }
                .inputText:focus + label,
                .inputText:not(:placeholder-shown) + label{
                 top:-20px;
                 left: 10%;
                }
                .inputText:valid{
                 border-bottom: 1px solid #77a0ec;
                }
                
                input[type='checkbox'] + label{
                    position:unset;
                    padding: 0 5px;
                }
            }
        }
        .form-rotate{
            position:absolute;
            top:0;
            // left:0;
            width:94%;
            height:100%;
            overflow:hidden;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            z-index: -1;
            .rotate{
                background-image:linear-gradient(to bottom right, #9099b8, #3c67b6 );
                width:500px;
                height:500px;
                border-radius: 33% 67% 71% 29% / 30% 41% 59% 70% ;
                position:absolute;
                top:-200px;
                left:50%;
                transform: translate(-50%);
                z-index: -1;
    
            }
        }
    }
    
}  
    
   

