@charset "UTF-8";
.des {
  background-color: black;
  color: white;
  text-align: center;
}
.des h1 {
  padding-top: 5%;
}
.des .im-container {
  padding-top: 4%;
  display: flex;
  justify-content: center;
}
.des .im-container .item {
  border-radius: 10%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 7%;
  height: -moz-max-content;
  height: max-content;
}
.des .im-container .item .image {
  width: 120%;
  height: auto;
  margin-bottom: 10%;
  border-radius: 10%;
  transition: transform 0.3s;
}
.des .im-container .item .image:hover {
  transform: scale(1.1);
  border-bottom: 1px solid #45a049;
  border-right: 1px solid #45a049;
  border-left: 1px solid #45a049;
}

.sale {
  height: -moz-max-content;
  height: max-content;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.158), rgb(0, 0, 0)), url("/img/nen5.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}
.sale .ti-review {
  padding-top: 5%;
  text-align: center;
}
.sale .ti-review .ti-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.sale .ti-review .ti-icon .ti-start {
  width: 2%;
  height: 2%;
}
.sale .ti-review .ti-v {
  margin-bottom: 1%;
}
.sale .ti-review .ti-v .tripadvisor {
  width: 10%;
}
.sale .slider {
  width: 80%;
  height: -moz-max-content !important;
  height: max-content !important;
  right: 0;
  top: 5%;
  position: relative;
  padding-bottom: 5%;
}
.sale .slider .swiper-button-next {
  position: absolute;
  top: 140px;
  right: 0%; /* Điều chỉnh giá trị right để đưa nút bấm next vào vị trí mong muốn */
  transform: translateY(-50%);
}
.sale .slider .swiper-button-prev {
  position: absolute;
  top: 140px;
  left: 0%; /* Điều chỉnh giá trị left để đưa nút bấm prev vào vị trí mong muốn */
  transform: translateY(-50%);
}
.sale .slider .box {
  background-color: rgba(211, 211, 211, 0.644);
  border-radius: 5%;
  height: 100%;
  padding: 3%;
  padding-bottom: 5%;
  margin-bottom: 3%;
  margin-bottom: 5%;
}
.sale .slider .box .review-header {
  display: flex;
}
.sale .slider .box .review-header .avatar {
  margin-top: 3%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sale .slider .box .review-header .ti-header {
  margin-left: 2%;
}
.sale .slider .box .review-header .ti-header .name {
  display: flex;
  justify-content: space-between !important;
  padding-top: 3%;
  width: 100%;
}
.sale .slider .box .review-header .ti-header .name h6 {
  margin-bottom: 0%;
  font-weight: bold;
}
.sale .slider .box .review-header .ti-header .name .ti-icon {
  width: 7%;
  height: 7% !important;
}
.sale .slider .box .review-header .ti-header .date {
  font-size: 80%;
}
.sale .slider .box .review-header .ti-header .date p {
  margin: 0%;
}
.sale .slider .box .review {
  display: flex;
  padding: 2% 0%;
}
.sale .slider .box .review .i-star {
  width: 6%;
  height: 6%;
}
.sale .slider .box .review .v-container {
  position: relative;
}
.sale .slider .box .review .v-container .c-star {
  margin-bottom: 3%;
  width: 7%;
  height: 70%;
  margin-left: 5%;
}
.sale .slider .box .review .v-container .message {
  font-size: 80%;
  display: none;
  position: absolute;
  background-color: #c2c2c2;
  left: 15%;
  bottom: 0;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sale .slider .box .review .v-container .message::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px; /* Điều chỉnh khoảng cách của tam giác so với phần tử */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent; /* Kích thước và màu sắc của tam giác */
  border-right: 10px solid #c2c2c2; /* Kích thước và màu sắc của tam giác */
  border-bottom: 5px solid transparent; /* Kích thước và màu sắc của tam giác */
}
.sale .slider .box .review .v-container:hover .message {
  display: block;
  opacity: 1;
}
.sale .slider .box .comment .text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 21.75px;
  height: 87px;
  font-size: 15px;
  text-align: left;
  transition: height 0.5s;
  font-style: normal;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding-right: 0;
}
.sale .slider .box .comment .text.collapsed p {
  font-weight: bold;
  height: 74px;
  font-size: 90%;
}
.sale .slider .box .comment .text.expanded {
  font-weight: bold;
  height: auto !important;
  -webkit-line-clamp: unset !important;
  font-size: 90%;
  padding-bottom: 0%;
}
.sale .slider .box .comment .hide-more {
  bottom: 0;
  border: 0px;
  z-index: 1;
  background-color: rgba(250, 250, 250, 0);
}

@media (max-width: 767px) {
  .des {
    background-color: black;
    color: white;
    text-align: center;
  }
  .des h1 {
    padding-top: 5%;
  }
  .des .im-container {
    padding-top: 4%;
    display: flex;
    justify-content: center;
  }
  .des .im-container .item {
    border-radius: 10%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 7%;
    height: -moz-max-content;
    height: max-content;
  }
  .des .im-container .item .image {
    width: 120%;
    height: auto;
    margin-bottom: 10%;
    border-radius: 10%;
    transition: transform 0.3s;
  }
  .des .im-container .item .image:hover {
    transform: scale(1.1);
    border-bottom: 1px solid #45a049;
    border-right: 1px solid #45a049;
    border-left: 1px solid #45a049;
  }
  .sale {
    height: -moz-max-content;
    height: max-content;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.158), rgb(0, 0, 0)), url("/img/nen5-mobile.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
  }
  .sale .ti-review {
    padding-top: 5%;
    text-align: center;
  }
  .sale .ti-review .ti-icon {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
  }
  .sale .ti-review .ti-icon .ti-start {
    width: 2%;
    height: 2%;
  }
  .sale .ti-review .ti-v {
    margin-bottom: 1%;
  }
  .sale .ti-review .ti-v .tripadvisor {
    width: 10%;
  }
  .sale .slider {
    width: 80%;
    height: -moz-max-content !important;
    height: max-content !important;
    right: 0;
    top: 5%;
    position: relative;
    padding-bottom: 5%;
  }
  .sale .slider .swiper-button-next {
    position: absolute;
    top: 140px;
    right: 0%; /* Điều chỉnh giá trị right để đưa nút bấm next vào vị trí mong muốn */
    transform: translateY(-50%);
  }
  .sale .slider .swiper-button-prev {
    position: absolute;
    top: 140px;
    left: 0%; /* Điều chỉnh giá trị left để đưa nút bấm prev vào vị trí mong muốn */
    transform: translateY(-50%);
  }
  .sale .slider .box {
    background-color: rgba(211, 211, 211, 0.644);
    border-radius: 5%;
    height: 100%;
    padding: 3%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    margin-bottom: 5%;
  }
  .sale .slider .box .review-header {
    display: flex;
  }
  .sale .slider .box .review-header .avatar {
    margin-top: 3%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .sale .slider .box .review-header .ti-header {
    margin-left: 2%;
  }
  .sale .slider .box .review-header .ti-header .name {
    display: flex;
    justify-content: space-between !important;
    padding-top: 3%;
    width: 100%;
  }
  .sale .slider .box .review-header .ti-header .name h6 {
    margin-bottom: 0%;
    font-weight: bold;
  }
  .sale .slider .box .review-header .ti-header .name .ti-icon {
    width: 7%;
    height: 7% !important;
  }
  .sale .slider .box .review-header .ti-header .date {
    font-size: 80%;
  }
  .sale .slider .box .review-header .ti-header .date p {
    margin: 0%;
  }
  .sale .slider .box .review {
    display: flex;
    padding: 2% 0%;
  }
  .sale .slider .box .review .i-star {
    width: 6%;
    height: 6%;
  }
  .sale .slider .box .review .v-container {
    position: relative;
  }
  .sale .slider .box .review .v-container .c-star {
    margin-bottom: 3%;
    width: 7%;
    height: 70%;
    margin-left: 5%;
  }
  .sale .slider .box .review .v-container .message {
    font-size: 80%;
    display: none;
    position: absolute;
    background-color: #c2c2c2;
    left: 15%;
    bottom: 0;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .sale .slider .box .review .v-container .message::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px; /* Điều chỉnh khoảng cách của tam giác so với phần tử */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent; /* Kích thước và màu sắc của tam giác */
    border-right: 10px solid #c2c2c2; /* Kích thước và màu sắc của tam giác */
    border-bottom: 5px solid transparent; /* Kích thước và màu sắc của tam giác */
  }
  .sale .slider .box .review .v-container:hover .message {
    display: block;
    opacity: 1;
  }
  .sale .slider .box .comment .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 21.75px;
    height: 87px;
    font-size: 15px;
    text-align: left;
    transition: height 0.5s;
    font-style: normal;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 0;
  }
  .sale .slider .box .comment .text.collapsed p {
    font-weight: bold;
    height: 74px;
    font-size: 90%;
  }
  .sale .slider .box .comment .text.expanded {
    font-weight: bold;
    height: auto !important;
    -webkit-line-clamp: unset !important;
    font-size: 90%;
    padding-bottom: 0%;
  }
  .sale .slider .box .comment .hide-more {
    bottom: 0;
    border: 0px;
    z-index: 1;
    background-color: rgba(250, 250, 250, 0);
  }
}/*# sourceMappingURL=destination.css.map */