.home{
    height:1000px;
    background-color: black;
    color: white;
    h1{
        display:flex;
        justify-content: center;
        padding-top: 5%;
    }
    h6{
        display:flex;
        justify-content: center;
        padding-bottom: 5%;
    }
    .tour{
        display:flex;
        justify-content:center;
        .item{
            margin: 0 1.5%;
            width: 400px;
            height:180px;
            flex: 1;
            .box1{
                overflow: hidden;
                transition: transform 0.3s;
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/nguoi-dan.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    bottom:4%;
                }
                
            }
            .box1:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box2{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ninh-duong.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                }
            }
            .box2:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box3{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/BisateLodge-16-e1528730445955.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                }
            }
            .box3:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            
        }
        
    }
    .tu2{
        padding-top: 13%;
        display:flex;
        justify-content:center;
        .item{
            margin: 0 1.5%;
            width: 400px;
            height:180px;
            flex: 1;
            .box4{
                overflow: hidden;
                transition: transform 0.3s;
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ngua-van.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                }
            }
            .box4:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box5{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ninh-duong.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                }
            }
            .box5:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box6{
                background-image: linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/20191223-Rwanda-08.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .title{
                    position: absolute;
                    bottom:5%;
                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                }
            }
            .box6:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            
        }
        
    }
    

}
@media (max-width: 767px){
    .home{
        height:max-content;
    background-color: black;
    color: white;
    h1{
        display:flex;
        font-size: 80%;
        justify-content: center;
        padding-top: 10%;
    }
    h6{
        display:flex;
        font-size: 80%;
        justify-content: center;
        padding-bottom: 5%;
    }
    .tour{
        display:flex;
        justify-content:center;
        .item{
            margin: 0 1.5%;
            width: 200px;
            height:60px;
            flex: 1;
            .box1{
                overflow: hidden;
                transition: transform 0.3s;
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/nguoi-dan.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;
                }
                .more{
                    position: absolute;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    bottom:4%;
                    font-size: 60%;

                }
                
            }
            .box1:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box2{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ninh-duong.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;

                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    font-size: 60%;

                }
            }
            .box2:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box3{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/BisateLodge-16-e1528730445955.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;

                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    font-size: 60%;

                }
            }
            .box3:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            
        }
        
    }
    .tu2{
        padding-top: 13%;
        display:flex;
        justify-content:center;
        .item{
            margin: 0 1.5%;
            width: 200px;
            height:60px;
            flex: 1;
            .box4{
                overflow: hidden;
                transition: transform 0.3s;
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ngua-van.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;

                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    font-size: 60%;

                }
            }
            .box4:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box5{
                background-image:linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/ninh-duong.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;

                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    font-size: 60%;

                }
            }
            .box5:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            .box6{
                background-image: linear-gradient(0,rgba(0, 0, 0,1), rgba(255, 255, 255, 0)), url("/img/20191223-Rwanda-08.jpg");
                background-size: 100%;
                background-repeat: no-repeat;
                width:100%;
                height:150%;
                position: relative;
                overflow: hidden;
                transition: transform 0.3s;
                border-radius: 10%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .title{
                    position: absolute;
                    bottom:5%;
                    font-size: 60%;

                }
                .more{
                    position: absolute;
                    bottom:4%;
                    text-decoration: none;
                    cursor: pointer;
                    margin-top: 2%;
                    color: #45a049;
                    font-size: 60%;

                }
            }
            .box6:hover{
                transform: scale(1.1);
                border-bottom: 1px solid #45a049;
                border-right: 1px solid #45a049;
                border-left: 1px solid #45a049;
            }
            
        }
        
    }
    
    }
}